extends layout

block content
  h1 Backstab Us
  hr
  .row
    .col-sm-12
      include partials/searchbox
  hr
  .row
    .col-sm-12
      if sites.length > 0
        ul.list-group
          each site in sites
            a.list-group-item.selectable-list-item(href='/sites/' + encodeURIComponent(site.url))  #{site.url}
              span.badge.pull-xs-right stabbed #{site.stabCount} times
      else
        div.alert.alert-info Wow, no one dared to backstab that yet.
        a.btn.btn-default.btn-lg(href='/sites/' + encodeURIComponent(query) + '/backstab') Do it now!
